<header class="app-header">
  <a class="header-logo" routerLink="/">
    <img src="assets/images/logo.png" alt="AndubaMotos Logo" class="logo-img" />
    <span class="logo-text">Anduba<span>Motos</span></span>
  </a>

  <button class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav [class.open]="menuOpen">
    <ul class="header-nav">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/brochure" routerLinkActive="active">Productos</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Servicios</a></li>
      <li><a routerLink="/about-us" routerLinkActive="active">Nosotros</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
    </ul>
    <div class="nav-actions-mobile">
      <button routerLink="/login" class="btn-outline">Iniciar sesión</button>
      <button class="btn-primary">Registrarse</button>
    </div>
  </nav>

  <div class="header-actions">
    @if (httpAuth.user$ | async; as user) {
      <p class="lol">¡Hola {{ user.username }}!</p>
      @if (user.rol == 'admin' || user.rol == 'owner') {
        <button routerLink="/dashboard" class="btn-admin">Admin</button>
      }
      <button (click)="logOut()" class="btn-outline">Cerrar sesión</button>
    } @else {
      <button routerLink="/login" routerLinkActive="active" class="btn-outline">
        Inicia sesión
      </button>
      <button routerLink="/register" class="btn-primary">Regístrate</button>
    }
  </div>
</header>
<div class="header-spacer" aria-hidden="true"></div>
