* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', system-ui, sans-serif;
}

.active{
  border-bottom: 1px  #CC2222 solid;
  transition: all 2s;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet + * {
  flex: 1;
}